.accordion-container {
    width: 100%;
    border-top: 1px solid black;
    
    flex-direction: column;
    display: flex;
  }

.accordion-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
  }

.accordion-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

botton {
  background-color: none;
  border: none;
}